<ion-nav-bar class="bar-balanced">
    <ion-nav-back-button></ion-nav-back-button>
</ion-nav-bar>
<ion-tabs class="tabs-icon-top  tabs-background-balanced tabs-color-active-stable">

  <ion-tab title="PPOB" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/ppob">
    <ion-nav-view name="tab-ppob"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Transaksi" icon-off="ion-star" icon-on="ion-star" href="#/tab/transaksi">
    <ion-nav-view name="tab-transaksi"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="Topup" icon-off="ion-briefcase" icon-on="ion-briefcase" href="#/tab/topup">
    <ion-nav-view name="tab-topup"></ion-nav-view>
  </ion-tab>  

  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
